.main
  #news_page
    .pics_module
    .middle_with_citat
      .red_line
        .middle_full_block.noPd
          %h1 НОВОСТИ
    .main_new_block
      .red_large
        = formatDate(@latest.date)
      .photo_text
        .left
          %a{:href => "/news/#{@latest.id}"}
            %img{:src => "/assets/news/db/#{@latest.pic_title}"}
        .right
          %a{:href => "/news/#{@latest.id}"}
            = @latest.header
          = format483(@latest.body).html_safe
        %a.more.cf{:href => "/news/#{@latest.id}"} Подробнее
    .news_list_block
      %ul
        - j = 1
        - @news.each do |value|
          %li
            %a{:href => "/news/#{value.id}"}
              = value.header
            %span.red_med
              = formatDate(value.date)
          - if j > 9
            - break
          - j = j + 1
      .more.pagination
        %a{:href => "#"} Страницы:
        - amount = (@news.count/10.0).ceil
        - if true
          %a.no_click{:href => "#"} 1
        - 1.upto(amount-1) do |i|
          %a.clickable{:href => "#"}
            = i+1
