.production.about_module{:style => "display:none;"}
  .middle_with_citat
    .red_line
      .left_descript
        %p “Весь технологический процесс от поступающего сырья и производства комбикормов до выхода продукции находится под жестким контролем специалистов нашей аттестованной лаборатории.”
      .right_descript
        %h1 СТРУКТУРА
        %p Структура предприятия включает в себя полный цикл производства от организации собственной кормовой базы до реализации конечной продукции в собственных павильонах.
        %p Проект предприятия предусматривает производство мяса говядины в количестве 20 тыс. тонн на базе созданной кормовой базы, введеной площадки по откорму молодняка крупного рогатого скота мощностью 13 тыс. голов, строящейся второй площадки по откорму молодняка крупного рогатого мощностью 13 тысяч голов, введенного мясоперерабатывающего комплекса мощностью 21 тыс. тонн в год, племрепродуктора специализированных мясных пород на 10 000 голов, организацию 50 семейных мясных ферм по выращиванию и откорму 40-50 тысяч голов скота.
  .meat_production_accordion
    .grey_header
      %h1 ПРОИЗВОДСТВО МРАМОРНОЙ ГОВЯДИНЫ
    .two_blocks
      %img.about_scheme{:src => "/assets/about/scheme.png", :style => "display:none"}
      %ul
        %li.first
          = link_to "1. Организация кормовой базы - собственная кормовая база 20 000 га пастбищ, 42 000 га пашни, в том числе   10 000 га кукурузы.", "javascript:void(0)"
        %li.second
          = link_to "2. Построена откормочная площадка (фидлот) производственной мощностью 13 000 голов. Планируется в ближейшее время строительство и ввод в эксплуатацию второго фидлота мощностью 30 000 голов в год.", "javascript:void(0)"
        %li
          %a{:href => "javascript:void(0)"}
          = link_to "3. Сдан в эксплуатацию мясоперерабатывающий комплекс с мощностью переработки 50 000 голов КРС в год.", "javascript:void(0)"
        %li.fourth
          %a{:href => "javascript:void(0)"}
          = link_to "4. Племенной репродуктор составляет 2500 голов КРС. К 2014 году планируется увеличение племенного стада КРС до 8 000 голов, к 2017 году - 12 000 голов племенного и помесного стада КРС.", "javascript:void(0)"
        %li.last
          = link_to "5. Реализация охлажденного мяса в собственных торговых павильонах, его поставка в рестораны и гипермаркеты крупных городов, а также в детские сады, школы и другие социально значимые объекты.", "javascript:void(0)"
      .middle_full_block
        %h1 КОМПЛЕКСНЫЙ ПОДХОД
        .border_red
        %p Проект по объему производства, переработке и реализации высококачественного охлажденного "мраморного" мяса является первым в Российской Федерации.
        %p Он предусматривает создание полного цикла производства мяса говядины высшего качества на 20 000 тонн в убойном весе.

    #accordion
      %h3
        = link_to "Племенное хозяйство", "javascript:void(0)"
      %div
        = image_tag "/assets/about/accordion/system_cow_calf.png"
        .pic_text_module.first_text
          = image_tag "/assets/about/accordion/calf_born.png"
          .grey_white_grad
            %p Телята появляются в апреле – мае, получая большое количество молока, моцион, свежий воздух, солнечное тепло, молодую траву - все это способствует их активному росту и развитию, а для коров - укреплению здоровья и продолжительность продуктивного использования. Коров вместе с телятами содержат на естественных, посевных, культурных пастбищах, которые должны удовлетворять потребность коров в зеленом корме.
        .pic_text_module
          = image_tag "/assets/about/accordion/cow_calf.png"
          .grey_white_grad
            %p При подсосном выращивании молоко матери попадает в организм теленка нормальной температуры, чистое, небольшими порциями. Прием материнского молока повышает усвояемость корма, способствует росту телят, увеличению их резистентности к негативным факторам окружающей среды.
      %h3
        = link_to "Откорм на специализированных площадках (фидлотах)", "javascript:void(0)"
      %div
        = image_tag "/assets/about/accordion/feed_lots.png"
        .pic_text_module.first_text
          = image_tag "/assets/about/accordion/self_production.png"
          .grey_white_grad
            %p В состав корма входит плющеная кукуруза, рапсовый шрот и силос. Все сырье для рационов составляется на собственном оборудовании предприятия. Рапсовый шрот получают по схеме форпрессования-экстракция из предварительно обработанных семян рапса с применением дополнительной влаго-тепловой обработки (тостирования).
        .pic_text_module
          = image_tag "/assets/about/accordion/fodder.png"
          .grey_white_grad
            %p Предприятие располагает площадкой по откорму молодняка крупного рогатого скота мощностью 13 тыс. голов. На фидлоте содержится необходимый объем воды и корма. Площадка OOO "АЛБИФ" являются точной копией канадских фидлотов. На начальном этапе работы российских скотоводов консультировали специалисты из США и Канады.
      %h3
        = link_to "Мясопереработывающий комплекс", "javascript:void(0)"
      %div
        = image_tag "/assets/about/accordion/MPK.png"
        .pic_text_module.first_text
          = image_tag "/assets/about/accordion/meat_processing_plant.png"
          .grey_white_grad
            %p.full_block Комплекс включает в себя цех первичной переработки скота, цех по производству полуфабрикатов. Все отходы, образующиеся в результате производства, перерабатываются в также имеющимся цехе технических фабрикатов в животные корма (мясокостная мука), таким образом МПК имеет замкнутый цикд производства (безотходное производство). Проект предприятия предусматривает производство говядины в количестве 21 тыс. тонн.
        .pic_text_module
          = image_tag "/assets/about/accordion/equipment.png"
          .grey_white_grad
            %p Благодаря высокому уровню санитарии и гигиены производства, применениею современного оборудования и новейших упаковочных материалов удалось достичь высоких показателей по срокам хранения готовой продукции в охлажденном виде.

