!!!
%html{:lang => "ru"}
  %head
    = render "layouts/head"
  %body
    .container
      .thin_red_line
        .middle
      .header
        .main_header.welcome
          .inside_block
            .top_part
              = link_to( image_tag("/assets/layout/logo.png"), "/", {:class => "logo cf"} )
              %ul.menu.cf
                - menu = {0 => {:name => "О КОМПАНИИ",:name_small_letter =>"О Компании", :link => "about"}, 1 => {:name => "ПРОДУКЦИЯ",:name_small_letter =>"Продукция", :link => "production"}, 2 => {:name => "НОВОСТИ", :name_small_letter => "Новости", :link => "news"}, 3 => {:name => "ВАКАНСИИ", :name_small_letter =>"Вакансии", :link => "jobs"}, 4 => {:name => "КОНТАКТЫ", :name_small_letter => "Контакты", :link => "contacts", :class => "last"}}
                - menu.each do |key, value|
                  - activePageClassName = ""
                  - if controller.controller_name == value[:link]
                    - activePageClassName = "active"
                  %li.cf{:class =>  "#{value[:class]} #{activePageClassName}" }
                    = link_to "#{value[:name]}", "/#{value[:link]}"
            = render "layouts/slider"
      = yield
      = render "layouts/footer"

