!!!
%html{:lang => "ru"}
  %head
    %meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}
    %title ООО "АЛБИФ"
    %link{:href => "/assets/layout/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = styx_initialize
  %body
    / Rating@Mail.ru counter
    :javascript
      //
      (function(w,n,d,r,s){(new Image).src='http://d5.c6.b3.a2.top.mail.ru/counter?id=2319781;js=13'+
      ((r=d.referrer)?';r='+escape(r):'')+((s=w.screen)?';s='+s.width+'*'+s.height:'')+';_='+Math.random();})(window,navigator,document);//
    %noscript
      %div{:style => "position:absolute;left:-10000px;"}
        %img{:alt => "Рейтинг@Mail.ru", :height => "1", :src => "http://d5.c6.b3.a2.top.mail.ru/counter?id=2319781;js=na", :style => "border:0;", :width => "1"}/
    / //Rating@Mail.ru counter
    .container
      .thin_red_line
        .middle
      .header
        .main_header
          .inside_block
            .top_part
              = link_to( image_tag("/assets/layout/logo.png"), "/", {:class => "logo cf"} )
              %ul.menu.cf
                = render "layouts/menu"
      = yield
      .footer
        .middle
          .middle_wrap
            .copyrights.cf
              %ul
                = render "layouts/menu"
              %p &copy; <span class="year">2012</span> ООО "АЛБИФ". Все права защищены.
            .footer_logo.cf


